<div class="footer p-3 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="mt-5">
                    <li>
                        <h1>
                            <a href="">TaşıTaşıt.com</a>
                        </h1>
                    </li>
                
                    <li>
                        <a href="/privacy-and-policy" class="my-3">
                            <h6><i class="bi bi-shield-check"></i> Gizlilik ve Politikalar</h6>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="mt-5">
                    <li>
                        <a href="mailto:info@tasitasit.com"><i class="bi bi-envelope"></i> info@tasitasit.com</a>
                    </li>
                    <li>
                        <a href=""><i class="bi bi-instagram"></i> tasitasitcom</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <a class="nav-link mt-5" aria-current="page" href="/auth/login"><div class="btn button">Giriş Yap</div></a>
            </div>
        </div>
    </div>
    
</div>