.forms{
    position: relative;
    margin-top: 50px;
}
.card{
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    max-width: 80%;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
    transition: .5s ease-in-out;
}
.card form .row{
    margin-bottom: 2rem;
}
.forms .row .button, .button{
    background: linear-gradient(90deg,#ffde59,#ff914d);
    padding: 8px 20px;
    border-radius: 50px;
    opacity: .8;
    transition: .5s;
    border: none;
}

.forms .row .button:hover, .button:hover{
    opacity: 1;
}
.forms .row .form-control{
    text-align: center;
}
.forms input,
.form-select{
    border-radius: 20px;
    border-color: #FF9800;
}
.forms input[type=checkbox]{
    border: 2px solid black;
}
input:focus{
    outline: 2px solid #ff914d !important;
    /* outline: none; */
}

#arrowDown{
    margin-top: 100px !important;
    left: 50%;
}
#arrowUp{
    display: none;
    position: absolute;
    bottom: 0;
}

#table, #table tr, #table td, #table th{
    border: 1px solid #F2F1EB;
    text-align: center;
}
#table thead th{
    background-color: #cfe2ff !important;
}
#table thead th{
    text-align: center;
}

#table tr td{
    align-items: center;
    vertical-align: middle;
}
#table ul li{
    text-align: left;
}

/* Butonlar */

.btns{
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.return{
    background-color: #fff;
    border: none;
    color: #B6BBC4;
    opacity: .5;
}
.return:hover{
    opacity: 1;
}

.edit, .delete, .return{
    font-size: 20px !important;
}
.edit{
    color: rgb(9, 129, 234);
}
.delete{
    color: red;
}
.update{
    background-color: #65B741;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    padding: 0.375rem 0.75rem;
}
.update:hover{
    background-color: #9ADE7B;
}
.removeBlock{
    color: #FF9800;
    font-size: 15px !important;
}
.blockBtn{
    font-size: 15px !important;
}

/* copy text from input */
.copy{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
