*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.forms .card .card-header{
    background-color: #FF9800;
    vertical-align:middle ;
}
.forms .card .card-header h5{
    color: #fff; 
    margin: 0 !important;
}
.forms .card .card-body .nav-pills .nav-item{
   margin: 1px;
}
.forms .card .card-body .nav-pills .nav-link{
    color: #000;
    position: relative;
    transition: 1s;
}

.forms .card .card-body .nav-pills .nav-link.active{
    background-color: #FF9800 !important;
}
.forms .card .card-body .nav-pills .nav-link:hover{
    background-color: #FF9800 !important;
} 

#form-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}