*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.forms .card .card-header{
    background-color: #FF9800;
    vertical-align:middle ;
}
.forms .card .card-header h5{
    color: #fff; 
    margin: 0 !important;
}
.forms .card .card-body .nav-pills .nav-link{
    color: #000;
    position: relative;
}
.forms .card .card-body .nav-pills .nav-link::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: 1s;
}
.forms .card .card-body .nav-pills .nav-link.active{
    background-color: #fff !important;
    border-bottom: 1px solid #FF9800;
}
.forms .card .card-body .nav-pills .nav-link:hover::after{
    border-bottom: 1px solid #FF9800;
    width: 100%;
}
.forms .card .card-body .nav-pills .nav-link.active:hover::after{
    border-bottom: none;
}