<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    
    
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                
                <div class="card">
                <h1 class="text-center my-3"><%= title %></h1>
                    <div class="card-body">
                        <h3>Giriş</h3>
                        <p>
                            Taşı Taşıt olarak, kullanıcılarımızın gizliliğine büyük önem veriyoruz. Bu gizlilik politikası, kişisel bilgilerinizin nasıl toplandığını, kullanıldığını ve korunduğunu açıklamaktadır. Hizmetlerimizi kullanarak, bu gizlilik politikasını kabul etmiş olursunuz.
                        </p>
                        <h3>Toplanan bilgiler</h3>
                        <h5>Kişisel Bilgiler</h5>
                        <p>
                            Hizmetlerimizi kullanırken, sizden belirli kişisel bilgiler talep edebiliriz. Bu bilgiler şunları içerebilir:
                            <ul>
                                <li>Ad ve soyad</li>
                                <li>E-Posta adresi</li>
                                <li>Telefon numarası</li>
                                <li>Adres bilgileri</li>
                            </ul>
                        </p>
                        <h5>Otomatik Toplanan Bilgiler</h5>
                        <p>
                            Hizmetlerimizi kullandığınızda, belirli bilgileri otomatik olarak toplarız. Bu bilgiler şunları içerebilir:
                        </p>
                        <ul>
                            <li>IP adresi</li>
                            <li>Tarayıcı türü ve versiyonu</li>
                            <li>Cihaz bilgileri</li>
                            <li>Çerezler ve diğer izleme teknolojileri</li>
                        </ul>
                        <h3>Bilgilerin Kullanımı</h3>
                        <p>Topladığımız bilgileri şu amaçla kullanırız</p>
                        <ul>
                            <li>Hizmetlerimizi sağlamak ve yönetmek</li>
                            <li>Müşteri desteği sunmak</li>
                            <li>Hizmetlerimizi geliştirmek ve kişiselleştirmek</li>
                            <li>Yasal yükümlülükleri yerine getirmek</li>
                        </ul>
                        <h3>Bilgilerin Paylaşımı</h3>
                        <p>
                            Kişisel bilgilerinizi üçüncü taraflarla paylaşmayız, ancak aşağıdaki durumlar hariç:
                        </p>
                        <ul>
                            <li>Yasal talepler ve düzenleyici yükümlülükler</li>
                            <li>Hizmet sağlayıcılarla, hizmetlerimizi sağlamak</li>
                            <li>İş ortakları ve iştiraklerle, yalnızca gerekli olduğunda</li>
                        </ul>
                        <h3>Veri Güvenliği</h3>
                        <p>
                            Kişisel bilgilerinizin güvenliğini sağlamak için uygun teknik ve idari önlemler alıyoruz. Ancak, internet üzerinden iletilen hiçbir veri tamamen güvenli değildir ve bu nedenle güvenlik garantisi veremeyiz.
                        </p>
                        <h3>Kullanıcı Hakları</h3>
                        <p>Kullanıcılarımız, kişisel bilgilerinin işlenmesi ile ilgili olarak belirli haklara sahiptir:</p>
                        <ul>
                            <li>Bilgi edinme hakkı</li>
                            <li>Erişim hakkı</li>
                            <li>Düzeltme hakkı</li>
                            <li>Silme hakkı</li>
                            <li>İşlemeyi kısıtlama hakkı</li>
                            <li>Veri taşınabilirliği hakkı</li>
                        </ul>
                        <p>Bu haklarınızı kullanmak isterseniz bizimle iletişime geçebilirsiniz.</p>
                        <h3>İletişim</h3>
                        <p>Gizlilik politikamız veya kişisel verilerinizle ilgili herhangi bir sorunuz varsa, bizimle iletişime geçmekten çekinmeyin:</p>
                        <ul>
                            <li><b>E-Posta: </b><a href="mailto:info@tasitasit.com">info@tasitasit.com</a></li>
                        </ul>
                        <h3>Politika Değişiklikleri</h3>
                        <p>Bu gizlilik politikasını zaman zaman güncelleyebiliriz. Herhangi bir değişiklik yapıldığında, güncellenmiş politikayı web sitemizde yayınlayacağız ve gerekli durumlarda sizi bilgilendireceğiz.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
         
    <%- include('../partials/script') %>
</body>
</html>